$colors: ( yellow: ( color: #FFD000,
modifiers: ( light: #FFEA21,
dark: #E9A20B)),
green: ( color: #5CBD54,
modifiers: ( light: #6ED166,
dark: #239947)),
pink: ( color: #E71082,
modifiers: ( light: #FB3986,
dark: #BE1564)),
blue: ( color: #4291D0,
modifiers: ( light: #47A0FF,
dark: #3973B0)),
blueAlt: ( color: #0E4595),
red: (color: #F14A38),

white: ( color: #ffffff),
black: ( color: #424242),
blackalt: ( color: #181818),
steel: ( color: #BDBDBD),
slate: ( color: #8B8B8B),
silver: ( color: #7B8A8F),
orange: ( color: #FBB040),
darkorange: ( color: #F7941E),
snow: ( color: #F5F8FD),
fog: ( color: #FBFBFD),
gray: ( color: #515151),
grayalt: ( color: #EFEFEF),
gray2: ( color: #D8D8D8),
gray3: ( color: #f6f6f6),

positive: ( color: #5CBD54),
negative: ( color: #E52620),
warn: ( color: #FFD000),

facebook: ( color: #3C5B97,
modifiers: ( light: #466AB0)),
google: ( color: #DB4C3F,
modifiers: ( light: #F76A5D)),
twitter: ( color: #1DB1EA,
modifiers: ( light: #42CAFF)));
